<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Skill</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Skill Name
        <input th:field="${skill.name}" class="form-control">
        </label>
        <p class="error" th:errors="${skill.name}"></p>
    </div>

    <div class="form-group">
        <label th:for="description">Skill Description
        <input th:field="${skill.description}" class="form-control">
        </label>
    </div>

    <div class="form-group">
    <input type="submit" value="Add Skill">
    </div>
</form>

</body>
</html>